<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CRUD Operation application</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <style>
        @import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");
    </style>
</head>

<body>
    <div class="container">
        <form method='post' id="addRecord">
            <div class="col col-md-8 my-4">
                <h2>Add New Student Record</h2>
                <div id="messages"></div>
            </div>

            <div class="row my-5">
                <div class="col">
                    <input type="text" class="form-control" id="rollno" name="rollno" placeholder="Roll NO">
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                </div>
                <div class="col">
                    <input type="text" class="form-control" id='marks' name='marks' placeholder='Marks'>
                </div>
                <div class="col">
                    <button type="submit" class="form-control btn btn-success" name='createNew'><span class="glyphicon glyphicon glyphicon-ok"
                            aria-hidden="true"></span> Submit</button>
                </div>
                <div class="col">
                    <button type="reset" class="form-control btn btn-info" name="reset"><span class="glyphicon glyphicon-repeat"
                            aria-hidden="true"></span> Reset</button>

                </div>

            </div>
        </form>

        <div class="col">
            <h2>Data in Table</h2>
        </div>
        <div class="row my-3" id='retriveData'></div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="updateStudent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateStudentLabel">Update Student Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" id="update">
                    <div class="modal-body">
                        <div id="modelMessages"></div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Roll No</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Roll no" name="rollno" aria-label="Username"
                                aria-describedby="basic-addon1">
                            <input type="hidden" value="" name="oldrollno">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Name</span>
                            </div>
                            <input type="text" class="form-control" name="name" placeholder="Name" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Marks</span>
                            </div>
                            <input type="text" class="form-control" name="marks" placeholder="Marks" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                        <button type="submit" name="updateStudentRecord" class="btn btn-warning"> Update changes</button>
                </form>
            </div>
        </div>
    </div>
    </div>
    <!-- Modal ends-->

    <script src="js/jquery.js"></script>
    <script src="js/propper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="helper/allFunctions.js"></script>
    <script src="./js/merce.custom.js"></script>
</body>

</html>